.Header {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.Logo {
  font-size: 21px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
}

.Absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}