.Header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  transition: max-height .3s ease-in-out;
}

.Logo {
  font-size: 21px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}

.Absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.Hamburger {
  display: none;
}

.Hamburger button {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 0;
}

.Hamburger svg {
  display: block;
}

@media screen and (max-width: 600px) {
  .Hamburger {
    display: flex;
    justify-content: flex-end;
  }

  .Header {
    align-items: flex-start;
    overflow: hidden;
  }

  .HeaderCol {
    line-height: 47px;
  }
}

@media screen and (min-width: 600px) {
  .Header {
    height: 50px !important;
  }
}
