// General
body
  font-size: $typography-body-font-size
  font-family: $typography-body-font-family

// Headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h6
  font-family: $typography-heading-font-family
  font-weight: $typography-heading-font-weight

h1, .h1
  font-size: $typography-h1
  line-height: 1.617

h2, .h2
  font-size: $typography-h2
  line-height: 1.676

h3, .h3
  font-size: $typography-h3
  line-height: 1.724

h4, .h4
  font-size: $typography-h4
  line-height: 1.783

h5, .h5
  font-size: $typography-h5
  line-height: 1.889

h6, .h6
  font-size: $typography-h6
  line-height: 2

// Paragraphs
p
  margin-bottom: 1em

// Anchors
a
  text-decoration: none
  transition: opacity 0.2s
  color: $typography-link-color

a:hover
  opacity: $typography-link-hover-opacity
