.Hero {
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: -100px;
}

.HeroContent {
  position: relative;
  min-height: 850px;
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HeroContent svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 50px);
  z-index: -1;
}

.FeaturedArticles {
  margin-top: -300px;
}

.BlobContent {
  width: 45%;
  margin: 0 auto;
  padding-top: 100px;
}
