.Hero {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0;
  margin-bottom: -100px;
  overflow: hidden;
}

.HeroContent {
  position: relative;
  min-width: 1280px;
  min-height: 850px;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HeroContent svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 50px);
  z-index: -1;
}

.FeaturedArticles {
  max-width: calc(100vw - 30px);
  margin: 0 auto;
}

.BlobContent {
  width: 45%;
  max-width: calc(100vw - 30px);
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 960px) {
  .BlobContent {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 590px) {
  .BlobContent h1 {
    font-size: 34px;
  }

  .BlobContent p {
    font-size: 21px !important;
  }

  .BlobContent br {
    display: none;
  }
}
