// Typography
$typography-h1 = 47px
$typography-h2 = 37px
$typography-h3 = 29px
$typography-h4 = 23px
$typography-h5 = 18px
$typography-h6 = 14px
$typography-body-font-family = 'Roboto', sans-serif
$typography-heading-font-family = 'Lato', sans-serif
$typography-heading-font-weight = 700
$typography-body-font-size = 16px
$typography-link-color = #0049b7
$typography-link-hover-opacity = 0.8

// References:
//
// Heading font sizes are calculated using the Golden Ratio
// https://pearsonified.com/golden-ratio-typography-intro/
// https://grtcalculator.com/

// Buttons
$button-border-radius = 13px
$button-font-size = 16px
$button-font-weight = 700
$button-padding = 13px 34px
$button-bg = #0049b7
$button-c = #fff

// Grid
$grid-container-width = 1280px
$grid-gutter = 30px
$grid-number-of-columns = 12
