.InlineList {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.InlineList > li {
  display: inline-block;
}

.InlineList > li:not(:first-of-type) {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .InlineListSmall {
    display: block;
    width: 100%;
  }

  .InlineListSmall > li {
    display: block;
    margin-bottom: 10px;
    margin-left: 0 !important;
    line-height: 1.5em;
  }
}